# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dump.rdb

node_modules
dist
dist-ssr
*.local

# security
.env

# backup
mongo-backup/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Production
build

# Miscellaneous
# Secret (.env.local)
*.local
.expo/


# Local Netlify folder
.netlify
